@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,500,700|Roboto+Mono:300,700);

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}

body {
  font-family: "work sans", Arial, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 1200px;
}

main {
  padding-top: 5em;
  margin: 0 auto;
}

header {
    text-align: center;
    max-width: 1000px;
    position: fixed;
}
a {
  text-decoration: none;
  color: black;
}
/* navigation */
nav {
  display: block;
  padding: .25em 1em;
  margin: 0 auto;
  margin-top: 0em;
  margin-bottom: 1em;
}
*{
  box-sizing: border-box;
}

.logo{
 width: 100px;
 padding-bottom: 1em;
 margin-left: 1em;
 margin-top: .8em;
 float:left;

}



.days {
    padding: 10px 0;
    margin: 0 auto;


}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.5%;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size:1.5em;
}

.work{
  border-bottom:solid;
  border-color: rgba(133,214,253,1);
  border-width: 10px;
  height: 1em;


}
hr {

margin-left: auto;
margin-right: auto;
height: .1em;
background-color:rgba(133,214,253,1);
color:#f3f6db;
border: 0 none;
}

/* day highlighted */
a:hover {
    padding: 5px;
    /*background: rgba(133,214,253,1);*/

    font-weight: 700;
    height: 1em;
}

.days li .month {
    padding: 5px;
    font-weight: 700;
    font-size: .5em;
    color: rgba(63,169,245,1);
}

/* footer */
footer {
  font-family: "Roboto Mono";
  text-align: center;
  /*background-color: rgba(133,214,253,1);*/
  color: black;
  font-size: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: 1em;
}

/* Media Screen 600 */
@media screen and (min-width: 600px) {

  /* days */
  .days {
  }

  .days li {
    font-size:2em;
  }
  nav img{
    width: 150px;
  }

}

/* Media Screen 800 */
@media screen and (min-width: 800px) {
.work{
      border-width: 20px;
}


  /* days */
  .days {
  }

  .days li {
    font-size:4em;
  }


}
