@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,500,700|Roboto+Mono:300,700);

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}


body {
  font-family: "work sans", Arial, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 1200px;
  border-top: solid;
  border-width: 20px;
  border-color: rgba(63,169,245,1);
}

main {
  padding-top: 6em;
  margin: 0 auto;

}

header {
    text-align: center;
    max-width: 1000px;
    position: fixed;

}
a {
  text-decoration: none;
  color: rgba(63,169,245,1);
  text-decoration: underline;
}

a:hover {
  font-weight: 700;
  color: rgba(63,169,245,1);
}
strong{
  font-weight: 500;
}

/* navigation */
nav {
  display: block;
  padding: .25em 1em;
  margin: 0 auto;
  margin-top: 0em;
  margin-bottom: 1em;
}
*{
  box-sizing: border-box;
}

.logo{
 width: 100px;
 padding-bottom: 1em;
 margin-left: 1em;
 margin-top: .8em;
 float:left;

}

/* numeral */
.numeral div{
  padding-top: 10em;
  margin-left: -25px;
  width: 90%;
  position: fixed;
  max-width: 1000px;
  z-index:-1;
}

/* Lists */

dl, dt, dd {
  margin:0;
  padding-left: 1em;
  padding-right: 1em;
}

dt {
  font-weight: 700;
  font-size: 1.0em;
}

.long dt {
  padding-bottom: 1em;
}
.long dl, .longlist {
  padding-bottom: 4em;
}
dd {
    padding-bottom: 1em;
    font-family: "Roboto Mono";
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
}
.shortlist{
  padding-bottom: 2em;
}

.short {
  float: left;
  width:50%;
}



.jams dd {
  font-weight: 700;
  color: rgba(63,169,245,1);
}
em {
  font-style:normal;
  font-family: "Work Sans";
  font-size: .8em;
  font-weight: 500;
  color: black;
}


/* image */
.longlist img{
  max-width: 100%;
  border-top: solid;
  border-width: 5px;
  border-color: rgba(63,169,245,1);
  max-height: 90vh;

}
img {
    image-orientation: from-image;
}
figure {
  margin: auto;
  padding-bottom: 4em;

}
figcaption {
  width: 50%;
  float: right;
  padding-top: .5em;
  margin-top: -5px;
  background-color: rgba(133,214,253,1);
  border-width: 10px;
  padding-left: .5em;
  padding-bottom: .5em;
  font-size: .8em;
  font-weight: 500;

}
/* footer */
footer {
  font-family: "Roboto Mono";
  text-align: center;
  color: black;
  font-size: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: 1em;

}





/* Media Screen 600 */
@media screen and (min-width: 600px) {
  main {
    padding-top: 8em;
    font-size:1.1em;
  }
  .logo{
   width: 125px;
   margin-left: 2em;
  }

  /* days */

  .shortlist {
    float: left;
    width:25%;
  }
  .short {
    width:100%;
  }
  .longlist {
    width:75%;
    float: right;
  }

  dl, dt, dd {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/* Media Screen 600 */
@media screen and (min-width: 1000px) {
  .logo{
   width: 150px;
   margin-left: 2em;
  }


}
